body {
    background-color: #ededed;
    font-family: Arial, sans-serif;
    font-size: 16px;
    text-align: center;
    color: #646464;
    text-transform: uppercase;
}

div#main {
    position: absolute;
    left: 50%;
    width: 1000px;
    margin: 10px 0 10px -500px;
    display: block;
}

div.button {
    position: relative;
    background-color: #bae4ff;
    border: 1px solid #646464;
    height: 89px;
    width: 172px;
    cursor: pointer;
    display: inline-table;
    padding: 45px 5px 5px 5px;
    margin: 5px;
}

div.button:hover {
    background-color: aliceblue;
}